.header-link {
  color: #fff;
  text-decoration: none;
  background-color: #e45a53;
}
.header-link-alt {
  color: #ffdf8f;
  text-decoration: none;
  background-color: #e45a53;
}
.navbar {
  border-radius: none;
  margin: 0;
  background-color: #e45a53;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  background-color: #e45a53;
  text-transform: uppercase;
}
.navbar a:hover {
  color: #ffdf8f;
  text-decoration: none;
  background-color: #e45a53;
}
.navbar a:active {
  color: #ffdf8f;
  text-decoration: none;
  background-color: #e45a53;
}
.navbar a:visited {
  color: #fff;
  text-decoration: none;
  background-color: #e45a53;
}
.navbar .navbar-header .navbar-brand img {
  width: 20%;
}
.navbar .navbar-header button .navbar-toggle collapsed {
  color: #ffdf8f;
  text-decoration: none;
  background-color: #e45a53;
}
/* end navbar */
