/* VARIABLES AND MIXINS */

@white: #fff;
@header-red: rgb(228, 90, 83);
@jumbotron-red: rgb(230, 103, 96);
@bright-blue: rgb(83, 189, 224);
@lt-bright-blue: rgb(183, 227, 242);
@blue: rgb(40, 172, 216);
@lime: rgb(97, 224, 100);
@lt-lime: rgb(174, 239, 175);
@dk-lime: rgb(169, 188, 56);
@purple: rgb(140, 136, 205);
@lt-yellow: rgb(255, 223, 143);
@lt-bright-yellow: darken(rgb(255, 223, 143), 10%);
@vlt-grey: rgb(248,250,251);
@lt-grey: rgb(214, 204, 204);
@grey: rgb(109, 105, 110);
@charcoal: rgb(58, 58, 58);

.header-link {
  color: @white;   
  text-decoration: none;
  background-color: @header-red;
  font-size: 0.8em;
  font-weight: bold;
}

.header-link-alt {
  color: @lt-yellow;   
  text-decoration: none;
  background-color: @header-red;
  font-size: 0.8em;
  font-weight: bold;
}

.red-white {
  color: @white;
  background-color: @jumbotron-red;
}

.purple-white {
  color: @white;
  background-color: @purple;
}


/* CLASSES */

/* font colors */
.blue-text {
  color: @blue; 
}

.red-text {
  color: @jumbotron-red;
} 

.yellow-text {
  color: @lt-yellow;  
}

.white-text {
  color: @white;
}


/* backgrounds */

.vlt-grey-bg {
  background-color: @vlt-grey;
  border-radius: 0;
}

/* .purple-bg {
  background-color: @purple;
} */


/* buttons */

.btn-red {
  color: @white; 
  background-color: @jumbotron-red;
  text-transform: uppercase;
  border: 1px solid @lt-grey;
  border-radius: 0;
  &:active {
    background-color:@jumbotron-red; 
    border: 1px solid @lt-grey;
  }
  &:hover {
    background-color: @jumbotron-red; 
    border: 1px solid @lt-grey;
  }
}

.btn-yellow {
  color: @grey; 
  background-color: @lt-yellow;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  &:active {
    background-color:@lt-bright-yellow; 
    border: none;
  }
  &:hover {
    background-color: @lt-bright-yellow; 
    border: none;
  }
}

.btn-blue {
  color: @white;
  background-color: @bright-blue;
  text-transform: uppercase;
  border: 1px solid @lt-bright-blue;
  border-radius: 0;
  &:active {
   background-color: @lt-bright-blue; 
  }
  &:hover {
   background-color: @lt-bright-blue; 
  }
}

.btn-green {
  color: @white;
  background-color: @lime;
  text-transform: uppercase;
  border: 1px solid @lt-lime;
  border-radius: 0;
  &:active {
   background-color: @lt-lime; 
  }
  &:hover {
   background-color: @lt-lime; 
  }
}

.btn-green2 {
  color: @white;
  background-color: @lime;
  text-transform: uppercase;
  border-radius: 0;
  &:active {
   background-color: @dk-lime; 
  }
  &:hover {
   background-color: @dk-lime; 
  }
}

/* misc */

.center {
  text-align: center;  
}

.caps {
  text-transform: uppercase; 
}

.client-logos {
  width: 15%; 
}



/* ELEMENT CLASSES */

p {
  font-size: 1.1em; 
}

.row {
  padding: 8% 5%; 
}

a {
  text-decoration: none;  
}

h2 {
  font-size: 2.1em;
  font-weight: bold;
}

.container-fluid {
  padding: 0; 
  .jumbotron {
    border-radius: 0; 
  }
}

.nav {
   border-radius: 0;
}

.navbar { 
  margin: 0;  
  background-color: @header-red;
  border-radius: 0;
  padding: 1% 8%;
  a {
     .header-link;
     text-transform: uppercase;
     &:hover {
        .header-link-alt;
     }
     &:active {
        .header-link-alt;
     }
     &:visited {
        .header-link;
     }
  }
  .navbar-header {
    width: 10o%;
     .navbar-brand {
      img {
        width: 10%;
      }
    }
    button {
      .navbar-toggle {
        .collapsed {
          span {
            .icon-bar {
              background-color: @white;
            }        
          }
        }        
      }            
    }
  }
}
/* end navbar */


.jumbotron {
  .red-white;
}
