/* VARIABLES AND MIXINS */
.header-link {
  color: #fff;
  text-decoration: none;
  background-color: #e45a53;
  font-size: 0.8em;
  font-weight: bold;
}
.header-link-alt {
  color: #ffdf8f;
  text-decoration: none;
  background-color: #e45a53;
  font-size: 0.8em;
  font-weight: bold;
}
/* CLASSES */
.blue-text {
  color: #28acd8;
}
.red-text {
  color: #e66760;
}
.white-text {
  color: #fff;
}
.btn-red {
  color: #fff;
  background-color: #e66760;
  text-transform: uppercase;
  border: 1px solid #d6cccc;
}
.btn-red:active {
  background-color: #e66760;
  border: 1px solid #d6cccc;
}
.btn-red:hover {
  background-color: #e66760;
  border: 1px solid #d6cccc;
}
.btn-yellow {
  color: #6d696e;
  background-color: #ffdf8f;
  text-transform: uppercase;
  border: none;
}
.btn-yellow:active {
  background-color: #ffd05c;
  border: none;
}
.btn-yellow:hover {
  background-color: #ffd05c;
  border: none;
}
.vlt-grey-bg {
  background-color: #ede8e8;
  text-transform: uppercase;
}
.btn-pro {
  color: #fff;
  background-color: #53bde0;
  border: 1px solid #b7e3f2;
  border-radius: none;
}
.btn-pro:active {
  background-color: #b7e3f2;
}
.btn-pro:hover {
  background-color: #b7e3f2;
}
.btn-free {
  color: #fff;
  background-color: #61e064;
  border: 1px solid #aeefaf;
  border-radius: none;
}
.btn-free:active {
  background-color: #aeefaf;
}
.btn-free:hover {
  background-color: #aeefaf;
}
.center {
  text-align: center;
}
.caps {
  text-transform: uppercase;
}
.client-logos {
  width: 15%;
}
/* ELEMENT CLASSES */
.container-fluid {
  padding: 0;
}
.container-fluid .jumbotron {
  border-radius: 0;
}
.nav {
  border-radius: none;
}
.navbar {
  margin: 0;
  background-color: #e45a53;
  padding: 1% 8%;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  background-color: #e45a53;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar a:hover {
  color: #ffdf8f;
  text-decoration: none;
  background-color: #e45a53;
  font-size: 0.8em;
  font-weight: bold;
}
.navbar a:active {
  color: #ffdf8f;
  text-decoration: none;
  background-color: #e45a53;
  font-size: 0.8em;
  font-weight: bold;
}
.navbar a:visited {
  color: #fff;
  text-decoration: none;
  background-color: #e45a53;
  font-size: 0.8em;
  font-weight: bold;
}
.navbar .navbar-header {
  width: 10o%;
}
.navbar .navbar-header .navbar-brand img {
  width: 10%;
}
.navbar .navbar-header button .navbar-toggle .collapsed span .icon-bar {
  background-color: #fff;
}
/* end navbar */
.jumbotron {
  background-color: #e66760;
  color: #fff;
  /*   .btn-pro {
    color: @white;
    background-color: @bright-blue;
    border: 1px solid @lt-bright-blue;
    border-radius: none;
    &:active {
     background-color: @lt-bright-blue; 
    }
    &:hover {
     background-color: @lt-bright-blue; 
    }
  }
  .btn-free {
    color: @white;
    background-color: @lime;
    border: 1px solid @lt-lime;
    border-radius: none;
    &:active {
     background-color: @lt-lime; 
    }
    &:hover {
     background-color: @lt-lime; 
    }
  } */
}
