.navbar {
  border-radius: none;
  margin: 0;
  background-color: #e45a53;
}
.navbar a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar a .navbar-brand {
  width: 40%;
  color: #fff;
}
