html {
  padding: 0;
  margin: 0;
}

/* text  */

p {
  font-size: 1.1em; 
  font-weight: 400;
  color: @grey;
}

.row {
  padding: 8% 5%; 
}

a {
  text-decoration: none;  
}

h1 {
  font-size: 2.6em; 
}

h2 {
  font-size: 2.4em;
/*   font-weight: 400; */
}



/* VARIABLES AND MIXINS */

@white: #fff;
@header-red: rgb(228, 90, 83);
@lt-red: lighten(rgb(228, 90, 83), 10%);
@jumbotron-red: rgb(230, 103, 96);
@bright-blue: rgb(83, 189, 224);
@lt-bright-blue2: lighten(rgb(83, 189, 224), 10%);
@lt-bright-blue: rgb(183, 227, 242);
@blue: rgb(40, 172, 216);
@lime: rgb(97, 224, 100);
@lt-lime2: lighten(rgb(97, 224, 100), 10%);
@lt-lime: rgb(174, 239, 175);
@dk-lime: rgb(169, 188, 56);
@purple: rgb(140, 136, 205);
@lt-yellow: rgb(255, 223, 143);
@lt-bright-yellow: darken(rgb(255, 223, 143), 10%);
@vlt-grey: rgb(248,250,251);
@lt-grey: rgb(214, 204, 204);
@grey: rgb(109, 105, 110);
@charcoal: rgb(58, 58, 58);


.header-link {
  color: @white;   
  text-decoration: none;
  background-color: @header-red;
  font-size: 0.8em;
  font-weight: bold;
}

.header-link-alt {
  color: @lt-yellow;   
  text-decoration: none;
  background-color: @header-red;
  font-size: 0.8em;
  font-weight: bold;
}

.red-white {
  background-color: @jumbotron-red;
  p, h1, h2, h3, h4, h5, h6 {
   color: @white; 
  }
}

.purple-white {
  background-color: @purple;
  p, h1, h2, h3, h4, h5, h6 {
   color: @white; 
  }
}


/* CLASSES */

/* font colors */
.blue-text {
  color: @blue; 
}

.red-text {
  color: @jumbotron-red;
} 

.yellow-text {
  color: @lt-yellow;  
}

.white-text {
  color: @white;
}

.bold {
  font-weight: bold; 
}


/* backgrounds */

.vlt-grey-bg {
  background-color: @vlt-grey;
  border-radius: 0;
}

/* .purple-bg {
  background-color: @purple;
} */


/* buttons */

.btn-red {
  color: @white; 
  background-color: @lt-red;
  text-transform: uppercase;  
  border: 1px solid @lt-grey;
  border-radius: 0;
  margin: 3% 2.5%;
  padding: 1% 5%;
  font-weight: bold;
  &:active {
    background-color:@jumbotron-red; 
    color: @white;
    border: 1px solid @lt-grey;
  }
  &:hover {
    background-color: @jumbotron-red; 
    color: @white;
    border: 1px solid @lt-grey;
  }
  &:visited {
    background-color: @jumbotron-red; 
    color: @white;
    border: 1px solid @lt-grey;
  }
}

.btn-yellow {
  color: @grey; 
  background-color: @lt-yellow;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  margin: 3% 2.5%;
  padding: 1% 5%;
  font-weight: bold;
  &:active {
    color: @grey; 
    background-color:@lt-bright-yellow; 
    border: none;
  }
  &:hover {
    color: @grey; 
    background-color: @lt-bright-yellow; 
    border: none;
  }
  &:visited {
    color: @grey; 
    background-color: @lt-bright-yellow; 
    border: none;
  }
}

.btn-blue {
  color: @white;
  background-color: @bright-blue;
  text-transform: uppercase;
  border: 1px solid @lt-bright-blue;
  border-radius: 0;
  margin: 3% 2.5%;
  padding: 1% 5%;
  font-weight: bold;
  &:active {
    color: @white;
    background-color: @lt-bright-blue2; 
  }
  &:hover {
    color: @white;
    background-color: @lt-bright-blue2; 
  }
  &:visited {
    color: @white;
    background-color: @lt-bright-blue2; 
  }
}

.btn-green {
  color: @white;
  background-color: @lime;
  text-transform: uppercase;
  border: 1px solid @lt-lime;
  border-radius: 0;
  margin: 3% 2.5%;
  padding: 1% 5%;
  font-weight: bold;
  &:active {
    color: @white;
    background-color: @lt-lime2; 
  }
  &:hover {
    color: @white;
    background-color: @lt-lime2; 
  }
  &:visited {
    color: @white;
    background-color: @lt-lime2; 
  }
}

.btn-green2 {
  color: @white;
  background-color: @lime;
  text-transform: uppercase;
  border-radius: 0;
  margin: 3% 2.5%;
  padding: 1% 5%;
  font-weight: bold;
  &:active {
    color: @white;
    background-color: @dk-lime; 
  }
  &:hover {
    color: @white;
    background-color: @dk-lime; 
  }
  &:visited {
    color: @white;
    background-color: @dk-lime; 
  }
}


/* links */

.green-link {
  color: @lime;
  &:hover {
   color: @lime;
    text-decoration: underline @lime;
  }
  &:active {
   color: @lime;
  }
  &:visited {
   color: @lime;
  }
}

.simple-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: @header-red;
  }
  &:active {
   text-decoration: none;
    color: @header-red;
  }
  &:visited {
   text-decoration: none;
  }
}


/* lists */
.vertical-list {
  display: block;
  list-style-type: none;
  padding: 1% 0;
  a {
    color: @grey;
    background-color: @vlt-grey;
    text-decoration: underline @grey;
  }   
}

.vertical-list-image {
  display: block;
  list-style-type: none;
  a {
    text-decoration: none;
    text-align: center;
    &:hover {
      color: @blue;
      background-color: @vlt-grey;      
    }
  }   
}

.horizontal-list {
  li {
    display: inline; 
    list-style-type: none;    
     a {
      .green-link; 
    }
  }  
}

.horizontal-list-image {
  li {
    display: inline;
    list-style-type: none;
    padding: 0 2%;
    a {
      text-decoration: none;
      i {
/*         color: @lt-grey; */        
        &:hover {
          color: @blue;
          background-color: @vlt-grey;      
        }
      }      
    }  
  }  
}


/* misc */

.center {
  text-align: center;  
}

.caps {
  text-transform: uppercase; 
}

.client-logos {
  width: 100%; 
  padding: 5% 0;
}

.padding-no-top {
  padding-top: 0; 
}


/* ELEMENT CLASSES */

.container-fluid {
  padding: 0; 
  .jumbotron {
    border-radius: 0; 
  }
}

h2 {
  font-weight: bold;  
}

.nav {
   border-radius: 0;
}

.navbar { 
  margin: 0;  
  background-color: @header-red;
  border-radius: 0;
  padding: 1% 5%;
  .navbar-header {
    width: 10o%;
     .navbar-brand {
       width: 50%;
      img {
        width: 25%;
      }
    }
   .navbar-toggle {
      .icon-bar {
        background-color: @white;
      }               
    }
  }
  .navbar-nav {
     .dropdown {
       .dropdown-menu {
        background-color: @header-red; 
        a {
           .header-link;
           text-transform: uppercase;
           &:hover {
              .header-link-alt;
           }
           &:active {
              .header-link-alt;
           }
           &:visited {
              .header-link;
           }
        } 
      }
    }
      
      a {
       .header-link;
       text-transform: uppercase;
       &:hover {
          .header-link-alt;
       }
       &:active {
          .header-link-alt;
       }
       &:visited {
          .header-link;
       }
    }
  }    
}
/* end navbar */


.jumbotron {
  .red-white;
}



footer {
  margin: 0;
  padding: 0 5%;
  background-color: @vlt-grey;
}
