<div class="jumbotron">
  <div class="container">
    <h1>Create and share your forms.</h1>
    <div>
      <button type="button" class="btn btn-pro">PRO SIGNUP</button>
      <button type="button" class="btn btn-free">SIGN UP FREE</button>
    </div>
  </div>
</div>

<!-- ==== -->

<div class="row">
  <div class="col-md-12">
    <h2>Building online forms can be hard.</h2>
    <h2><span class="blue-text">Wufoo</span> makes it easy.</h2>
    <p>Our form designer can help you create contact forms, online surveys and invitations so you can collect the data, registrations and payments you need.</p>
  </div>
</div>

<!-- ==== -->

<div class="row">
  <ul class="thumbnails">
    <li class="span4">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/300x200" alt="">
      </a>
    </li>
    <li class="span4">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/300x200" alt="">
      </a>
    </li>
    <li class="span4">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/300x200" alt="">
      </a>
    </li>
  </ul>
</div>
<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-pro">Try Our Forms Builder</button>
  </div>
</div>

<!-- ==== -->

<div class="row">
  <div class="col-md-12">
    <h2>Wufoo has the <span class="text-red">features</span> you love.</h2>
    <p>Our form builder gives you an award-winning interface, easy customization, galleries, templates and reporting!</p>
  </div>
</div>

<!-- ==== -->

<div class="row">
  <ul class="thumbnails">
    <li class="span3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/300x200" alt="">
      </a>
    </li>
    <li class="span3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/300x200" alt="">
      </a>
    </li>
    <li class="span3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/300x200" alt="">
      </a>
    </li>
    <li class="span3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/300x200" alt="">
      </a>
    </li>
  </ul>
</div>
<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-red">See More Features</button>
  </div>
</div>

<!-- ==== -->

