<div class="jumbotron">
  <div class="container center">
    <h1>Create and share your forms.</h1>
    <div>
      <button type="button" class="btn btn-blue">PRO SIGNUP</button>
      <button type="button" class="btn btn-green">SIGN UP FREE</button>
    </div>
  </div>
</div>

<!-- ==== -->

<div class="row">
  <div class="col-md-12 center">
    <h2>Building online forms can be hard.</h2>
    <h2><span class="blue-text">Wufoo</span> makes it easy.</h2>
    <p>Our form designer can help you create contact forms, online surveys and invitations so you can collect the data, registrations and payments you need.</p>
  </div>
</div>

<!-- ==== -->

<div class="row vlt-grey-bg">
  <div class="col-sm-4 center">
    <a href="#" class="thumbnail vlt-grey-bg">
      <img src="..." alt="...">      
    </a>
    <h4 class="blue-text caps">Create a form!</h4>
    <p>Use our easy form builder to customize and design your form.</p>
  </div>
  <div class="col-sm-4 center">
    <a href="#" class="thumbnail vlt-grey-bg">
      <img src="..." alt="...">      
    </a>
    <h4 class="blue-text caps">Share it!</h4>
    <p>Link to our pages. Embed on your site. Or use our REST API.</p>
  </div>
  <div class="col-sm-4 center">
    <a href="#" class="thumbnail vlt-grey-bg">
      <img src="..." alt="...">      
    </a>
    <h4 class="blue-text caps">Get your data!</h4>
    <p>We can email or text you as data comes in. Or set up a real-time report!</p>
  </div>
</div>
<div class="row vlt-grey-bg padding-no-top">
  <div class="col-md-12 center">
    <button type="button" class="btn btn-blue">Try Our Forms Builder</button>
  </div>
</div>

<!-- ==== -->

<div class="row">
  <div class="col-md-12 center">
    <h2>Wufoo has the <span class="text-red">features</span> you love.</h2>
    <p>Our form builder gives you an award-winning interface, easy customization, galleries, templates and reporting!</p>
  </div>
</div>

<!-- ==== -->

<div class="row red-white">
  <div class="col-md-3 col-sm-6 center">
    <a href="#" class="thumbnail red-white">
      <img src="..." alt="...">
    </a>
    <h4 class="white-text caps">Form Templates</h4>
    <p>Choose from 300+ templates. Exactly how you want them. Ready to be customized.</p>
  </div>
  <div class="col-md-3 col-sm-6 center">
    <a href="#" class="thumbnail red-white">
      <img src="..." alt="...">
    </a>
    <h4 class="white-text caps">Reporting</h4>
    <p>Create dynamic visualizations made up of your own graphs, charts and key metrics.</p>
  </div>
  <div class="col-md-3 col-sm-6 center">
    <a href="#" class="thumbnail red-white">
      <img src="..." alt="...">
    </a>
    <h4 class="white-text caps">Custom Rules</h4>
    <p>Use rules to create dynamic forms that will follow logic that you've specified.</p>
  </div>
  <div class="col-md-3 col-sm-6 center">
    <a href="#" class="thumbnail red-white">
      <img src="..." alt="...">
    </a>
    <h4 class="white-text caps">Take Payments</h4>
    <p>Start accepting online payments with a Wufoo powered form within minutes.</p>
  </div>
</div>
<div class="row red-white padding-no-top">
  <div class="col-md-12 center">
    <button type="button" class="btn btn-red">See More Features</button>
  </div>
</div>

<!-- ==== -->

<div class="row">
  <div class="col-md-12 center">
    <h2>We have plans from <a href="#" class="purple-text">Free</a> to <a href="#" class="purple-text">Unlimited</a>.</h2>
    <p>Check out our <a href="#" class="purple-text">pricing page</a> for plan details.</p>
  </div>
</div>

<!-- ==== -->

<div class="row purple-white">
  <div class="col-md-12 center">
    <h3>Ready to get Started? <span class="yellow-text">It's Free!</span></h3>
    <button type="button" class="btn btn-green2">Sign up now</button>
  </div>
</div>

<!-- ==== -->



<div class="row">
  <div class="col-md-12 center">
    <h3>Trusted by some of the most <a href="#" class="blue-text">popular brands</a> on the web.</h3>
    <ul class="client-logos horizontal-list-image">
      <li><img src="" alt="" /><img src="images/amazon.JPG" alt="Amazon" /></li>
      <li><img src="" alt="" /><img src="images/bestbuy.JPG" alt="Best Buy" /></li>
      <li><img src="" alt="" /><img src="images/disney.JPG" alt="Disney" /></li>
      <li><img src="" alt="" /><img src="images/cnet.JPG" alt="CNET" /></li>
      <li><img src="" alt="" /><img src="images/microsoft.JPG" alt="Microsoft" /></li>
      <li><img src="" alt="" /><img src="images/twitter.JPG" alt="Twitter" /></li>
      <li><img src="" alt="" /><img src="images/natgeo.JPG" alt="National Geographic" /></li>
      <li><img src="" alt="" /><img src="images/sony.JPG" alt="Sony" /></li>
      <li><img src="" alt="" /><img src="images/arc.JPG" alt="American Red Cross" /></li>
    </ul>
    <p><a href="#" class="blue-text simple-link">Check out more of our clients here.</a></p>
  </div>
</div>

<!-- ==== -->

<div class="row vlt-grey-bg">
  <div class="col-md-12 center">
    <h4 class="blue-text bold">But don't take our word for it...</h4>
    
    <div id="carouselControls" class="carousel slide vlt-grey-bg" data-ride="carousel">      
      <div class="carousel-inner" role="listbox">
        
        <div class="carousel-item active">   
          <div clas="container">
            <div clas="row">
              <div class="col-md-6">
                <blockquote>"I love Wufoo's ability to easily share with clients, gather their information, and retain that information for future reference."</blockquote>
              </div>
              <div class="col-md-6 testimonial blue-text">
                <ul class="testimonial-list">
                  <li class="bold">Jen Teske</li>
                  <li>Real Estate Broker</li>
                  <li>Re/Max Alliance - The Jen &amp; Jean Team</li>
                  <img src="" class="" alt="REMAX" />
                </ul>
              </div>
            </div>
          </div>    
        </div>
        
        <div class="carousel-item">
          <div clas="container">
            <div clas="row">
              <div class="col-md-6">
                <blockquote>"Wufoo is very easy to use. I've been able to give members of my team accounts with minimal explanation about how to use it and they've done very well creating and embedding forms without needing technical help."</blockquote>
              </div>  
              <div class="col-md-6 testimonial blue-text">
                <ul class="testimonial-list">
                  <li class="bold">April Taulbee</li>
                  <li>Webmaster</li>
                  <li>D'Youville College, Buffalo</li>
                  <img src="" class="" alt="D'Youville College" />
                </ul>
              </div>
            </div>
          </div>
        </div>
        
        <div class="carousel-item">
          <div clas="container">
            <div clas="row">
              <div class="col-md-6">
                <blockquote>"Wufoo has the flexibility to create the exact fomr you need quickly, easily and have that form immediately integrate with the existing framework."</blockquote>
              </div>  
              <div class=" col-md-6 testimonial blue-text">
                <ul class="testimonial-list">
                  <li class="bold">Daniel Holloway</li>
                  <li>Marketing Manager</li>
                  <li>Non-Profit</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
<!--       </div> -->
      
      <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      
    </div> <!-- end slider -->
    
  </div>
</div>

<!-- ==== -->

<div class="row blue-white">
  <div class="col-sm-6 center">
    <h4>Wanna Know More?</h4>
    <p>You've made it all the way down here! You deserve a reward, so we made a video to help you learn all about Wufoo: The Online Form Builder. Take a look and enjoy.<p>           
    <button type="button" class="btn btn-yellow">Get Started</button>
  </div>
  <div class="col-sm-6 center">
     insert video
  </div>  
</div>

<!-- ==== -->
