<footer>
  <div class="row padding-no-top">
    <div class="col-sm-2">
      <h4>About</h4>
      <ul class="vertical-list">
        <li>
          <a href="#" title="Our Team">Our Team</a>
        </li>
        <li>
          <a href="#" title="Sitemap">Sitemap</a>
        </li>
        <li>
          <a href="#" title="Job Opportunities">Job Opportunities</a>
        </li>
        <li>
           <a href="#" title="Nonprofit Management">Nonprofit Management</a>
        </li>
      </ul>
    </div>

    <div class="col-sm-2">
      <h4>Support</h4>
      <ul class="vertical-list">
        <li>
          <a href="#" title="Help &amp: Docs">Help &amp: Docs</a>
        </li>
        <li>
          <a href="#" title="FAQ">FAQ</a>
        </li>
        <li>
          <a href="#" title="Guides">Guides</a>
        </li>
      </ul>
    </div>

    <div class="col-sm-2">
      <h4>Contact</h4>
      <ul class="vertical-list">
        <li>
          <a href="#" title="Integrations">Integrations</a>
        </li>
        <li>
          <a href="#" title="Press Inquiries">Press Inquiries</a>
        </li>
      </ul>
    </div>

    <div class="col-sm-2">
      <h4>Legal</h4>
      <ul class="vertical-list">
        <li>
          <a href="#" title="Report Abuse">Report Abuse</a>
        </li>
        <li>
          <a href="#" title="Terms of Service">Terms of Service</a>
        </li>
        <li>
           <a href="#" title="Privacy Statement">Privacy Statement</a>
        </li>
      </ul>
    </div>

    <div class="col-sm-4">
      <h4>We're On It</h4>
      <ul class="horizontal-list-image">
        <li>
          <a href="#" title="Wufoo on Twitter">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#" title="Wufoo on Facebook">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#" title="Wufoo on YouTube">
            <i class="fa fa-youtube" aria-hidden="true"></i>
          </a>
        </li>
        <li>
           <a href="#" title="Wufoo on LinkedIn">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
         <li>
           <a href="#" title="Wufoo on Google">
            <i class="fa fa-google" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      <p>
        <a href="#" title="">
          <img src="./images/mg-bbb3-cert.png" alt="Better Business Bureau" />
        </a>
      </p>
      <p>
        <a href="#" title="">
          <img src="https://cdn.ywxi.net/meter/www.wufoo.com/102.gif" alt="McAffee Secure" />
        </a>
      </p>    
    </div>

  </div> <!-- end row -->



  <div class="row padding-no-top">
    <div class="col-sm-6">
      <ul class="horizontal-list">
        <li>Copyright &copy; 2006 - 2017  &nbsp;&nbsp; | &nbsp;&nbsp;</li>
        <li><a href="https://www.surveymonkey.com/" title="Survey Monkey Inc." class="green-link">Survey Monkey Inc.</a></li>
      </ul> 
    </div>  <!-- end col -->

    <div class="col-sm-6">      
      <div class="dropdown">
        Preferred language  &nbsp;&nbsp;&nbsp; <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          English
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Spanish</a>
        </div>
      </div>
    </div>  <!-- end col -->
  </div>  <!-- end row -->
</footer>
