<footer>
  <div class="row">
    <div class="col-sm-2">
      <h4></h4>
      <ul class="vertical-list">
        <li>
          <a href="#" title=""></a>
        </li>
        <li>
          <a href="#" title=""></a>
        </li>
        <li>
          <a href="#" title=""></a>
        </li>
        <li>
           <a href="#" title=""></a>
        </li>
      </ul>
    </div>

    <div class="col-sm-2">
      <h4></h4>
      <ul class="vertical-list">
        <li>
          <a href="#" title=""></a>
        </li>
        <li>
          <a href="#" title=""></a>
        </li>
        <li>
          <a href="#" title=""></a>
        </li>
        <li>
           <a href="#" title=""></a>
        </li>
      </ul>
    </div>

    <div class="col-sm-2">
      <h4></h4>
      <ul class="vertical-list">
        <li>
          <a href="#" title=""></a>
        </li>
        <li>
          <a href="#" title=""></a>
        </li>
        <li>
          <a href="#" title=""></a>
        </li>
        <li>
           <a href="#" title=""></a>
        </li>
      </ul>
    </div>

    <div class="col-sm-2">
      <h4></h4>
      <ul class="vertical-list">
        <li>
          <a href="#" title=""></a>
        </li>
        <li>
          <a href="#" title=""></a>
        </li>
        <li>
          <a href="#" title=""></a>
        </li>
        <li>
           <a href="#" title=""></a>
        </li>
      </ul>
    </div>

    <div class="col-sm-4">
      <h4></h4>
      <ul class="vertical-list-image">
        <li>
          <a href="#" title="">
            <img src="" alt="" />
          </a>
        </li>
        <li>
          <a href="#" title="">
            <img src="" alt="" />
          </a>
        </li>
        <li>
          <a href="#" title="">
            <img src="" alt="" />
          </a>
        </li>
        <li>
           <a href="#" title="">
            <img src="" alt="" />
          </a>
        </li>
      </ul>
      <p><img src="" alt="" /></p>
      <p><img src="" alt="" /></p>    
    </div>

  </div> <!-- end row -->



  <div class="row">
    <div class="col-sm-6">
      <ul class="horizontal-list">
        <li>Copyright &copy; 2006 - 2017  &nbsp;&nbsp; | &nbsp;&nbsp;</li>
        <li><a href="https://www.surveymonkey.com/" title="Survey Monkey Inc." class="green-link">Survey Monkey Inc.</a></li>
      </ul> 
    </div>
  </div>  <!-- end row -->


  <div class="row">
    <div class="col-sm-6">
      <ul>
        <li>Preferred language</li>
        <li>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                English
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <!--               <a class="dropdown-item" href="#">English</a> -->
                <a class="dropdown-item" href="#">Spanish</a>
              </div>
            </div>
        </li>
      </ul> 
    </div>  <!-- end row -->
  </div>
</footer>
