
<button id="demo-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
  <i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
  <li class="mdl-menu__item">
		<a ui-sref="web-forms">Web Forms</a>
	</li>
  <li class="mdl-menu__item">
		<a ui-sref="features">Features</a>
	</li>
	<li class="mdl-menu__item">
		<a ui-sref="templates">Templates</a>
	</li>	
  <li class="mdl-menu__item">
		<a ui-sref="pricing">Pricing</a>
	</li>
	<li class="mdl-menu__item">
		<a ui-sref="guides">Guides</a>
	</li>
  <li class="mdl-menu__item">
		<a ui-sref="faq">FAQ</a>
	</li>
	<li class="mdl-menu__item">
		<a ui-sref="partners">Partners</a>
	</li>
  <li class="mdl-menu__item">
		<a ui-sref="examples">Examples</a>
	</li>
	<li class="mdl-menu__item">
		<a ui-sref="blog">Blog</a>
	</li>
  <li class="mdl-menu__item">
		<a ui-sref="help-center">Help Center</a>
	</li>
</ul>



