<!-- Left aligned menu below button -->
<!-- 
<button id="demo-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
  <i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
  <li class="mdl-menu__item">
		<a ui-sref="web-forms">Web Forms</a>
	</li>
  <li class="mdl-menu__item">
		<a ui-sref="features">Features</a>
	</li>
	<li class="mdl-menu__item">
		<a ui-sref="templates">Templates</a>
	</li>	
  <li class="mdl-menu__item">
		<a ui-sref="pricing">Pricing</a>
	</li>
	<li class="mdl-menu__item">
		<a ui-sref="guides">Guides</a>
	</li>
  <li class="mdl-menu__item">
		<a ui-sref="faq">FAQ</a>
	</li>
	<li class="mdl-menu__item">
		<a ui-sref="partners">Partners</a>
	</li>
  <li class="mdl-menu__item">
		<a ui-sref="examples">Examples</a>
	</li>
	<li class="mdl-menu__item">
		<a ui-sref="blog">Blog</a>
	</li>
  <li class="mdl-menu__item">
		<a ui-sref="help-center">Help Center</a>
	</li>
</ul>
-->



<header class="mui-appbar mui--z1">
	<div class="mui-container">
		<table widht="100%">
			<tbody>
				<tr class="mui-appbar-height">
					<td class="mui--text-title">Brand.io</td>
					<td align="right">
						<ul class="mui-list--inline mui--text-body2">
							<li><a ui-sref="web-forms">Web Forms</a></li>
							<li><a ui-sref="features">Features</a></li>
							
							
							<li>								
								<div class="mui-dropdown">
									<button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
										Templates
										<span class="mui-caret"></span>
									</button>
									<ul class="mui-dropdown__menu">
										<li><a ui-sref="all">All Templates</a></li>
										<li><a ui-sref="forms">Forms</a></li>
										<li><a ui-sref="registration">Registration</a></li>
										<li><a ui-sref="surveys">Surveys</a></li>
										<li><a ui-sref="tracking">Tracking</a></li>
										<li><a ui-sref="online-orders">Online Orders</a></li>
										<li><a ui-sref="lead-generation">Lead Generation</a></li>
										<li><a ui-sref="invitation">Invitations</a></li>
									</ul>
								</div>
							</li>
							
							
							<li><a ui-sref="pricing">Pricing</a></li>
							
							
							<li>								
								<div class="mui-dropdown">
									<button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
										Resources
										<span class="mui-caret"></span>
									</button>
									<ul class="mui-dropdown__menu">
										<li><a ui-sref="guides">Guides</a></li>
										<li><a ui-sref="faq">FAQs</a></li>
										<li><a ui-sref="partners">Partners</a></li>
										<li><a ui-sref="examples">Examples</a></li>
										<li><a ui-sref="blog">Blog</a></li>
										<li><a ui-sref="help-center">Help Center</a></li>
									</ul>
								</div>
							</li>
							
							
						</ul>
				  </td>
				</tr>
			</tbody>
		</table>
	</div>
</header>
